<a href="https://colab.research.google.com/github/babinraaz/PythonClass/blob/master/Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Day 3

In [4]:
#Range
tuple(range(2,9))

tuple(range(2, 10, 2))

for num in range(3, 10, 3):
  print (num)

3
6
9

Nested Loop

In [5]:
furniture = ['chair', 'table']
colors =['Blue', 'Red']
for f in furniture:
  for c in colors:
    print(c,f)

Blue chair
Red chair
Blue table
Red table

Function

In [16]:
#creating a function
def add(x, y):  #defining a function
  return x + y

#calling a function
add (2, 3)


# no input gives output
def func1():
  return ' hi there!'

func1()


#some input but no output
def func2(name):
  print('hello!, ' + name)

x = func2('sama')
print (x)    #no return in function, so it is not output; just part of processing


#function 
def mult(x, y):
  return x*y

mult(2, 3)

hello!, sama
None

6

Arbitrary Arguments

In [17]:
#arbitrary arguments
def accumulate(*num):  # *args =basic convention
  sum = 0
  for n in num:
    sum +=n
  return sum

accumulate(1,2,3,4,5,6)

21

lambda functions

In [18]:
sum = lambda x, y, z: x + y + z
sum (1, 4, -6)

#lambda functions => anonymous functions

-1

Tuple

In [21]:
my_tup = (1, 'hi', True, 2.3, 1, 'hi')
type (my_tup)
len(my_tup)
my_tup[2]
my_tup[2:5]
my_tup[:5:2] # (1, true, 1)

(True, 2.3, 1)