<a href="https://colab.research.google.com/github/babinraaz/PythonClass/blob/master/Day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Set

In [ ]:
#set
# 1. set is immutable (only can add items to the set)
# 2. doesnt allow duplicates
# 3. enclosed by {}
# 4. doesnt have index
# 5. only allows to add (if not frozen set)

my_set = {1,True, 0, False, 2.34}
print(my_set)

my_set.add({'hi'})

for i in my_set:
  print(i)

{1, 2.34}
1
2.34

Set Operations

In [ ]:
#set operations
# union; intersection; difference

{1, 2, 3, 4} | {3, 4, 5, 6} #Union

{1,2,3,4,6} & {3, 4 ,5} # intersection

{1,2,3,4,5} - {2,3,4} # differences

{3, 4}

Frozenset

In [ ]:
frozen_set = frozenset([1,2,3,4]) #cannot be added or updated
frozen_set
type(frozen_set)

#frozen_set.update([1,3])  NO UPDATE ATTRIBUTE

AttributeError: ignored

Dictionary

In [ ]:
rainfall = {'Kathmandu': 2.36, 'Pokhara': 4.56, 'Butwal': 1.36}

type(rainfall)

rainfall.items()
rainfall.keys()
rainfall.values()

rainfall['Pokhara']

rainfall.get('Pokhara')  #use get to avoid error when the values are not found


'Kathmandu' in rainfall   # search for keys

'Kathmandu' not in rainfall #not in

True

In [ ]:
Update Dict items

In [ ]:
rainfall

rainfall['Butwal'] = 2.35
rainfall
rainfall.update({'Pokhara':5.95})
rainfall

# add a new pair 'Dharan': 0.35
rainfall['Dharan'] =0.45
rainfall

{'Butwal': 2.35, 'Dharan': 0.45, 'Kathmandu': 2.36, 'Pokhara': 5.95}

Remove Dict

In [ ]:
rainfall
#rainfall.pop('Butwal')

{'Kathmandu': 2.36, 'Pokhara': 5.95}